In [ ]:
v1 = float(input('Digite o primeiro valor:'))
v2 = float(input('Digite o segundo valor:'))

soma = v1+v2

print('O resultado:', soma)

Digite o primeiro valor:5
Digite o segundo valor:5
O resultado: 10.0

In [ ]:
nome = input('Digite seu nome:')
idade = int(input('Digite sua idade:'))
telefone = input('Digite seu número de telefone: ')
email= input('Digite seu email:')

print('Nome:',nome)
print('Idade:',idade)
print('Telefone:',telefone)
print('Email:',email)

Digite seu nome:leandro
Digite sua idade:21
Digite seu número de telefone: 86309161
Digite seu email:leandromllr9@gmail.com
leandro
21
86309161
leandromllr9@gmail.com

In [ ]:
code = input('Digite o código do produto:')
nome = input('Digite o nome do produto:')
qtd = int(input('Digite a quantidade:'))
valor = float(input('Digite o valor do produto:'))

print('Código do produto:',code)
print('Nome do produto:',nome)
print('Quantidade:',qtd)
print('Valor da compra:',valor*qtd)

Digite o código do produto:001
Digite o nome do produto:Mouse
Digite a quantidade:3
Digite o valor do produto:10
Código do produto: 001
Nome do produto: Mouse
Quantidade: 3
Valor da compra: 30.0

In [ ]:
valorCM = float(input('Digite o valor em cm:'))
valorM = valorCM / 100

print('Valor convertido para metro:',valorM,'m')

Digite o valor em cm:100
Valor convertido para m: 1.0 m

In [ ]:
base = float(input('Digite o valor da base em m:'))
alt = float(input('Digite o valor da altura em m:'))

area = base * alt

if(base == alt):
  print('É um quadrado')
else:
  print('É um retângulo')

print('A área da figura vale:', area,'m²')

Digite o valor da base em m:3
Digite o valor da altura em m:3
É um quadrado
A área da base vale: 9.0 m²